<html>

<head>
    <!-- General settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.appName}">
     <!-- Meta tags -->
    <title>{head.title} | {global.appName}</title>
   <meta name="description" content="head.description">
   <!-- Static assets -->
   <link type="image/x-icon" rel="icon" href="favicon.ico">
   <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
   <link rel="stylesheet"  href="public/css/materialize.css" />
   <link rel="stylesheet"  href="public/style.css" />

</head>
<body class="{body.class}">
  <!-- Page wrapper -->
  <div class="wrapper">

    <!-- header -->
    <div class="header">
        <!-- logo -->
        <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo">Logo</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Sass</a></li>
                    <li><a href="">Components</a></li>
                    <li><a href="">JavaScript</a></li>
                  </ul>
                </div>
              </nav>

    </div>

    <!-- Page-specific content -->